<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD APP</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div>
            <a href="/" class="text-blue-600 mt-10">return to home</a>
        </div>
        
        <h1 class="text-xl font-semibold mb-4 text-center">All User</h1>
        <div class="users flex gap-3 flex-wrap">


            <% if(users.length > 0){%> 

                <% users.map((user)=>{%>
            
                    <div class="users flex gap-3 flex-wrap ">
                        <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
                    
                        <div class="w-72 h-42 rounded-lg bg-zinc-500">
    
                            <img class="w-full h-full object-cover object-center" src="<%= user.image %>" />
                        </div>
        
                        <h3 class="text-xl tracking-tighter"><%=user.name %> </h3>
                        <h3 class="text-zinc-500"><%= user.email %></h3>
                        <div class="flex gap-3 mt-10">
                            <a class="text-zinc-600" href="/edit/<%= user._id  %>">Edit User</a>
                            <a class="text-red-500" href="/delete/<%= user._id  %>">Delete User</a> 
        
                        </div>
                    </div>
                    </div>
                <%}) %>
            
                <%} 
                else{
                    %>
                    <h1>no user exist</h1>
                    <%
                }
                %>
                 
        </div>
    </div>
</body>
</html>